@import url('https://fonts.googleapis.com/css?family=Euphoria+Script');

body{
	text-align:center;
	font-family: Helvetica, sans-serif;
}


a:link, a:visited {
    background-color: purple;
    color: white;
    padding: 10px 10px;
    margin: 5px 5px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #cd9fe0;
}

.pagetitle{
	font-family: 'Euphoria Script', cursive;
	font-size: 9em;
	color: purple;
	
}

h2{
	font-family: Helvetica, sans-serif;
	color: #555;
}

.container{
	width: 800px;
	margin: auto;
}